

.footerStyle{
   
    padding-top:3%;
    padding-bottom:1%;
    background-color: rgb(63, 251, 235);
    color:white;
}
.gray{
    color:gray;
}
.crimson{
    color:crimson;
}
.bg-theme{
    color:#145477;
}
.text-light-theme{
    color: white;
    
}
.spanColor{
    color: rgb(255, 255, 255);
}